input {
  s3 {
    access_key_id => "{{ aws_logs_access_key }}"
    secret_access_key => "{{ aws_logs_secret_key }}"
    region => "{{ aws_region }}"
    bucket => "{{ log_bucket }}"
    interval => "10"
    type => "ses"
    codec => json
    additional_settings => {
      force_path_style => true
      follow_redirects => false
    }
  }
}
